<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div>
    <h1>Settings <small>Use this form to update settings</small></h1>
    <hr />

    {% block wizad_setting_content %}
    {% endblock wizad_setting_content %}
</div>
</body>
</html>