{{ form_errors(form) }}

{% for row in form %}
        <div class="controls">
            {{ form_errors(row) }}
            {{ form_label(row, null, {'label_attr': {'class': 'control-label'} }) }}
            <div class="control-group">

                {{ form_widget(row) }}
            </div>
        </div>

{% endfor %}