{% extends 'WizadSettingsBundle:Settings:layout.html.twig' %}

{% block wizad_setting_content %}

<form action="{{ form.vars.action }}" method="{{ form.vars.method }}" class="form-horizontal">

    {% include 'WizadSettingsBundle:Settings:_innerForm.html.twig' with {'form': form, 'settings': settings} only %}

    {% include 'WizadSettingsBundle:Settings:_buttonForm.html.twig' with {'form': form, 'settings': settings} only %}

</form>

{% endblock %}